* {
  font-family: Verdana, "Tahoma", sans-serif;
}

body {
  background-color: #e8ddb5;
}

.header {
  overflow: hidden;
  background-color: #a27f50;
  padding: 10px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 32px;
  line-height: 64px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  height: 128px;
}

.header a.active {
  background-color: #e8ddb5;
  color: black;
}

.header-right a:hover {
  color: black;
  background-color: #E2B167;
}

.header-right {
  float: right;
  padding: 32px 0px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.recipe-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid #534d41;
  border-radius: 10px;
  max-width: 50%;
  margin-bottom: 50px;
}

.content {
  padding: 20px;
  font-size: 20px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

p {
  text-align: left;
}

.ingredients,
.steps {
  display: inline-block;
  text-align: left;
}

.ingredients li, 
.steps li {
  margin-bottom: 10px;
}
