* {
  margin: auto;
  width: 80%;
  padding: 10px;
  font-family: Verdana, "Tahoma", sans-serif;
  font-size: 17px;
}

body {
  background-color: #e8ddb5;
}

.clearfix {
  border: 10px solid #534d41;
  padding: 5px;
  text-align: center;
}

img {
  float: left;
  width: 170px;
  height: auto;
}

.clearfix p {
  font-size: 40px;
  padding: 70px 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.recipes {
  display: inline-block;
  text-align: left;
}

.recipes a {
  font-size: 28px;
}
